body {
  margin: 0;
  padding: 0;
}

nav {
/*  position: fixed;
  top: 0;
  left: 0;
  right: 0;*/
  width: 100%;
  height: 120px;
  background-color: blue;
}

#title {
  display: inline;
  padding-left: 30px;
}

#title a {
}

#title a, #title a:hover, #title a:visited {
  color: white;
  font-size: 80px;
  line-height: 120px;
  padding-left: 15px;
  text-decoration: none;
}


#nav-links {
  display: inline;
}

#nav-links div {
  display: inline;
  /*margin-right: 20px;*/
}

#nav-links a {
  background-color: #8D84E3;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

#nav-links a, #nav-links a:visited {
  color: white;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
}

#nav-links a:hover {
  color: yellow;
}

.container {
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  width: 90%;
  /*background-color: red;*/
}

form input{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 200px;
}

.button {
  width: auto;
}

th {
  text-align: left;
}

#board-header {
  background-color: blue;
  height: 200px;
  width: 100%;
}

#board-container {
  width: 980px;
  height: 840px;
  margin: 40px auto 0 auto;
  background-color: #F1FF73;
  border-left: 20px solid blue;
  border-right: 20px solid blue;

}

.spacer {
  width: 140px;
  height: 140px;
  float: left;
}

.slot {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 100%;
  background-color: white;
}

.slot-red {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 100%;
  background-color: red;
}

.slot-black {
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 100%;
  background-color: black;
}

#victory {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 40px;
  z-index: 1;
  width: 40%;
  margin: 10px auto;
  background-color: #0000FF;
  opacity: 0.65;
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 8px;
}

#board-footer {
  
}
