<head>
  <script src="/js/game.js"></script>
</head>



<div id="board-container">
  
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot-red"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot-black"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>
<div class="spacer"><div class="slot"></div></div>

</div>

<div id="board-footer"></div>
