<head>
  <script src="/js/game.js"></script>
</head>

<div id="board-container">
<div id="spacer-1" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-2" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-3" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-4" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-5" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-6" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-7" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-8" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-9" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-10" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-11" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-12" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-13" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-14" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-15" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-16" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-17" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-18" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-19" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-20" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-21" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-22" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-23" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-24" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-25" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-26" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-27" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-28" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-29" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-30" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-31" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-32" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-33" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-34" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-35" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-36" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-37" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-38" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-39" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-40" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-41" class="spacer"><div id="0" class="slot"></div></div>
<div id="spacer-42" class="spacer"><div id="0" class="slot"></div></div>
</div>

<div id="board-footer"></div>
